!.gitignore
*.o
*.a
*.dll
*.obj
*.def

*.exe
*.swp
*.bak

*.tlog
*.db
*.idb
*.sln
*vcxproj*
*.pdb
*.sdf
*.suo

*.lin
*.pbn
*.rbn
*.txt
*.eml
*.rbx
*.rec
*.fix
*.ref
*.psess
*.csv
*.vsp
*.vspx
*.lib
*.skip
*.sht
*.opendb
