!.gitignore
*.o
*.a
*.dll
*.obj

*.exe
*.swp
*.bak

*.tlog
*.db
*.idb
*.sln
*vcxproj*
*.pdb
*.sdf
*.suo

*.lin
*.pbn
*.rbn
*.eml
*.rbx
*.rec
*.fix
*.ref
*.psess
*.csv
*.vsp
*.vspx
*.lib
*.skip
*.sht
*.opendb
*.exp

src/Makefile
test/Makefile

src/tmp/*.txt
src/*.txt
scripts/*.txt
